@model LogisticsManagement.Data.Truck

@{
    ViewData["Title"] = "Create";
}

<div class="container p-3">
       
<div class="row">
    <div class="col-md-8 offset-1 ">
        <br />  
            <div>
                <h3><span class="badge bg-secondary col-12"> Add Truck Details</span></h3>
            </div>
            <hr />
        <form method="Post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group mb-3 col">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <select asp-for ="Year" class = "form-select" asp-items ="@(new SelectList(ViewBag.YearList, "", ""))">
                    <option disabled selected>--Select Year--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <select asp-for ="Make" class = "form-select" asp-items ="@(new SelectList(ViewBag.TruckMakeList, "", ""))">
                    <option disabled selected>--Select Make--</option>
                </select>
            </div>
           
            <div class="form-group mb-3">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EquipmentNumber" class="control-label"></label>
                <input asp-for="EquipmentNumber" class="form-control" />
                <span asp-validation-for="EquipmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="VinNumber" class="control-label"></label>
                <input asp-for="VinNumber" class="form-control" />
                <span asp-validation-for="VinNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LicensePlateNumber" class="control-label"></label>
                <input asp-for="LicensePlateNumber" class="form-control" />
                <span asp-validation-for="LicensePlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for ="Color" class = "form-select" asp-items ="@(new SelectList(ViewBag.ColorList, "", ""))">
                    <option disabled selected>--Select Color--</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                 <a class="btn btn-outline-danger" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
