@model IEnumerable<LogisticsManagement.Data.Load>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">   
             <h2>Load List</h2>
        </div>
        <div class="col-6 text-end">   
             <p>
                <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp;Create New</a>
            </p>
        </div>
    </div>

<table id="tblData" class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadedMiles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadPay)
            </th>
      
            <th></th>
        </tr>
    </thead>
</table>
</div>

@section Scripts{
    <script src="~/js/load.js"></script>
}
