@model IEnumerable<LogisticsManagement.Data.Settlement>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">   
             <h2>Settlement List</h2>
        </div>
        <div class="col-6 text-end">   
             <p>
                <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp;Create Settlement</a>
            </p>
        </div>
    </div>

<table id ="tblData" class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettlementNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettlementTotal)
            </th>

            <th></th>
        </tr>
    </thead>
    @*<tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
            </td>
        </tr>
    </tbody>*@

</table>
</div>

@section Scripts{
    <script src="~/js/settlement.js"></script>
}
